@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --font-buttons: "SN Pro", sans-serif;
}
body{
    box-sizing: border-box;
    margin: 0px;
    font-family: "Roboto Slab", serif;
}
header{
    height: 75px;
    display: flex;
    justify-content: space-between;
    background-color: #001C1F;
    padding: 0px 60px;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 850px;
    align-items: center;
}
.navegacion{
    color:aliceblue;
    background-color: transparent;
    border: 0px;
    font-family: var(--font-buttons);
    font-size: medium;
    height: 60%;
}
img{
    height: 75px;
    width: 150px;
}
#letsTalk{
    border:2px solid #008F8F;
    padding-left: 10px;
    padding-right: 10px;
}
#letsTalk:hover{
    background-color: #008F8F;
    cursor: pointer;
}
.navegacion:not(#letsTalk):hover{
    height: 35%;
    border-bottom: 2px solid #008F8F;
}
#heroSection{
    height: 500px;
    background-image: url("../imgs/fondoHero.webp");
}